label.cs {
        background: #90C3D4;
        display: block;
        color: #fff;
	font-weight: bold;
        padding: 8px;
	margin: 4px;
}
input[name="control"].cs, .slide.cs {
  display: none;
}
input[name="control"]:checked.cs + .slide.cs {
  display: block;

}
.slide.cs {
  padding: 8px;
}

